@page "/routingexample/{Id:int}"

<h1>Routing Example</h1>

<p>Index: @Id</p>

<button class="btn btn-primary" @onclick="GoToNextIndex">Click me</button>

@code {
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    [Parameter]
    public int Id { get; set; }

    private void GoToNextIndex()
    {
        NavigationManager.NavigateTo($"/routingexample/{Id + 1}");
    }
}
