@namespace BlazorTutorial.Core.Web.Books

@inherits OwningComponentBase

@using BlazorTutorial.Core.Web.Inputs

@if (Book != null)
{
    <EditForm Model="Book" OnValidSubmit="HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label for="title">Title</label>
            <InputText id="title" @bind-Value="Book.Title" />
        </p>

        @if (profiles != null)
        {
            <InputSelectNullableNumber @bind-Value="Book.AuthorId">
                <option value="">Select an author...</option>
                @foreach (var profile in profiles)
                        {
                    <option value="@profile.Id">@profile.DisplayName</option>
                        }
            </InputSelectNullableNumber>
        }

        <p>
            <label for="overview">Overview</label>
            <InputText id="overview" @bind-Value="Book.Overview" />
        </p>
        <p>
            <label for="price">Price</label>
            <InputNumber id="price" @bind-Value="Book.Price" />
        </p>

        <input type="button" value="Delete" @onclick="DeleteBookAsync" />
        <input type="submit" value="Save" />
    </EditForm>
}
