@inherits OwningComponentBase

@using BlazorTutorial.Core.Web.Inputs

@if (book != null)
{
    <EditForm Model="book" OnValidSubmit="HandleValidSubmitAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>
            <label for="title">Title</label>
            <InputText id="title" @bind-Value="book.Title" />
        </p>

        @if (profiles != null)
        {
            <InputSelectNullableNumber @bind-Value="book.AuthorId">
                <option value="">Select an author...</option>
                @foreach (var profile in profiles)
                {
                    <option value="@profile.Id">@profile.DisplayName</option>
                }
            </InputSelectNullableNumber>
        }

        <p>
            <label for="overview">Overview</label>
            <InputText id="overview" @bind-Value="book.Overview" />
        </p>
        <p>
            <label for="price">Price</label>
            <InputNumber id="price" @bind-Value="book.Price" />
        </p>

        <input type="submit" value="Create" />
    </EditForm>
}
